page-ChemDetailsPage {
  h2 {
    font-weight: normal;
    font-size: 16pt;
  }
  h3 {
    font-weight: lighter;
    font-size: 13pt;

  }
  h1 {
    font-size: 13pt;
    white-space: normal;
  }
}
.new_search {
  position: absolute;
  right: 0px;
}
