page-HomePage {
  h1 {
    font-size: 13pt;
    white-space: normal;
  }
  h2 {
    //position: fixed;
    //top: 100px;

  }
  p {
    font-size: 24pt;
    color: black;
    position: relative;
    right : 70px;
    top : 100px;
  }
  ion-content{
      //for Fred
      //background-image: url('/android_asset/www/assets/img/zombie.png');
      //background-repeat: no-repeat;
      //background-size: 100% 80%;
      //background-position: right bottom;
  }
}
