page-TutorialRSLSearch {

}
.swipe_left {
  // background-image: url("https://static.thenounproject.com/png/255751-200.png");
  // background-position: center;
  // background-repeat: no-repeat;
  }
.skip_button {
  position: absolute;
  right: 0px;
}
.toolbar-background {
  background-color: #d3fcff;
}
