<<<<<<< HEAD
page-TutorialPage {
=======
page-TutorialRSLSearch {
>>>>>>> 62f5f6e5897a1dabd61fff5b8d718e66539eb779
  h1 {
    font-size: 13pt;
    white-space: normal;
  }
}
.swipe_left {
  // background-image: url("https://static.thenounproject.com/png/255751-200.png");
  // background-position: center;
  // background-repeat: no-repeat;
  }
.skip_button {
  position: absolute;
  right: 0px;
}
.slide-image {
  height: 420px;
  width: 420px;
}
